<!doctype html>
<html>
<head>
        <link rel="stylesheet" href="style.css" type="text/css">
        <title>Demo Page</title>
</head>
<body>
        {{{body}}}




<div class="quarter-divider">Hi</div>
  <div id="container">
    <div class="box1" ><a href="http://flip1.engr.oregonstate.edu:8264/past-searches">Past Searches</a></div>
    <div class="box2" style="background-color: rgb(34, 160, 245);">Movies by Category</div>
    <div class="box3"><a href="http://flip1.engr.oregonstate.edu:8264/">Movie Reception</a> </div>
    <div class="box4">Random Movie</div>
    <span class="stretch"></span>
  </div>
        <form>
        <fieldset>

        
    </form>    
   
<br />



        <p>Please request temporary access then come back to start getting results! <a href="https://cors-anywhere.herokuapp.com/corsdemo" target="_blank" rel="noopener noreferrer">Start!</a>.</p>
        <p>Please make sure that the movie name is in the format Movie name (film) or Movie name (Year of film)(film)</p>
        <p>Examples include Guardians of the Galaxy (film) and Up (2009 film)</p>
        <form>
        <fieldset>

        <legend>Want the text?</legend>	    
	    
            Movie Category <select id= "categoryName" name="categoryName">
            <option name="Action" value="Action" selected>Action</option>
            <option name="Mystery" value="Mystery">Mystery</option>
            <option name="Romance" value="Romance">Romance</option>
            </select>

            <br />
	        <br />
     	    <button type="button" id="movie" value="Submit">Submit</button>
            <br />
	<div id="separator"></div>
        <br />
<div id="results"></div>

        <br />
            <br />
        


        </fieldset>
        <br />
    </form>    


<a href="http://flip1.engr.oregonstate.edu:8264/download">Download!</a> 


<br />

<script src="movieCategory.js"></script>

</body>
</html>


